<!DOCTYPE html>
<html>
<head>
    <title><%= bandas.nombre %></title>
</head>
<body>
    <h1><%= bandas.nombre %></h1>
    <img src="<%= Banda.cover %>" alt="<%= Banda.nombre %>">
    <a href="/bandas/genero"><p> Genero de <%= bandas.nombre %>: <%= bandas.genero %> </p></a>
    <p>Integrantes: <%= bandas.Integrantes %></p>
    <p>Canciones top:</p>
      <ul>
        <%= for(let i = 0; i < bandas.topCanciones; i++) %>
      </ul>
</body>
</html>