<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% bandas.forEach(function(banda) { %>
            <li>
                <h3><%= banda.nombre %></h3>
            </li>
        <% }) %>
    </ul>
    <% bandas.forEach(function(banda) { %>
        <img src="" alt="">
        <p>Detalle de la banda: <%= bandas.nombre %></p>
            <li>Género: <%= bandas.genero %> </li>
            <li>Integranes : <%= bandas.integrantes></li>
            <li>Mejores canciones: <%= bandas.topCanciones %></li>
    <% }) %>
    <div>
      <ul>
        <% for(i = 0; i < bandas.length; i++){ %>
          <li><%= bandas[i].Detalle %></li>
        <% }%>
      </ul>
      <% } %>
    </div>
</body>
</html>