    <!DOCTYPE html>
    <html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% bandas.forEach(function(banda) { %>
                <li>
                    <h3><%= banda.nombre %></h3>
                </li>
            <% }) %>
        </ul>
        <p>Género buscado: <%= genero %></p>
        <div>
          <% if(bandas.length === 0){ %>
            <p>¡NO hay bandas del género buscado!</p>
          <% }else{ %>
          <ul>
            <% for(i = 0; i < bandas.length; i++){ %>
              <li><%= bandas[i].genero %></li>
            <% }%>
          </ul>
          <% } %>
        </div>
    </body>
    </html>
    